RRappointmentsWebApplication/Web References/NewAppointmentWebReference/NewAppointment.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="AddNewAppointment">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="jsonDate" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="jsonCustCode" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="jsonSiteCode" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="jsonOperCode" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="jsonInsrCode" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="jsonDline" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AddNewAppointmentResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="AddNewAppointmentResult" type="tns:AppointmentMailData" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="AppointmentMailData">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="EmailSubject" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="UserEmail" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="EmailMessage" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="SenderEmail" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ContentType" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="GetCustomerCodeForRemoteDiariesReports">
        <s:complexType />
      </s:element>
      <s:element name="GetCustomerCodeForRemoteDiariesReportsResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="GetCustomerCodeForRemoteDiariesReportsResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="OnLockAppointment">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="jsonDline" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="OnLockAppointmentResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="OnLockAppointmentResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="OnUnlockAppointment">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="jsonDline" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="OnUnlockAppointmentResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="OnUnlockAppointmentResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="AddNewAppointmentSoapIn">
    <wsdl:part name="parameters" element="tns:AddNewAppointment" />
  </wsdl:message>
  <wsdl:message name="AddNewAppointmentSoapOut">
    <wsdl:part name="parameters" element="tns:AddNewAppointmentResponse" />
  </wsdl:message>
  <wsdl:message name="GetCustomerCodeForRemoteDiariesReportsSoapIn">
    <wsdl:part name="parameters" element="tns:GetCustomerCodeForRemoteDiariesReports" />
  </wsdl:message>
  <wsdl:message name="GetCustomerCodeForRemoteDiariesReportsSoapOut">
    <wsdl:part name="parameters" element="tns:GetCustomerCodeForRemoteDiariesReportsResponse" />
  </wsdl:message>
  <wsdl:message name="OnLockAppointmentSoapIn">
    <wsdl:part name="parameters" element="tns:OnLockAppointment" />
  </wsdl:message>
  <wsdl:message name="OnLockAppointmentSoapOut">
    <wsdl:part name="parameters" element="tns:OnLockAppointmentResponse" />
  </wsdl:message>
  <wsdl:message name="OnUnlockAppointmentSoapIn">
    <wsdl:part name="parameters" element="tns:OnUnlockAppointment" />
  </wsdl:message>
  <wsdl:message name="OnUnlockAppointmentSoapOut">
    <wsdl:part name="parameters" element="tns:OnUnlockAppointmentResponse" />
  </wsdl:message>
  <wsdl:portType name="NewAppointmentSoap">
    <wsdl:operation name="AddNewAppointment">
      <wsdl:input message="tns:AddNewAppointmentSoapIn" />
      <wsdl:output message="tns:AddNewAppointmentSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetCustomerCodeForRemoteDiariesReports">
      <wsdl:input message="tns:GetCustomerCodeForRemoteDiariesReportsSoapIn" />
      <wsdl:output message="tns:GetCustomerCodeForRemoteDiariesReportsSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="OnLockAppointment">
      <wsdl:input message="tns:OnLockAppointmentSoapIn" />
      <wsdl:output message="tns:OnLockAppointmentSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="OnUnlockAppointment">
      <wsdl:input message="tns:OnUnlockAppointmentSoapIn" />
      <wsdl:output message="tns:OnUnlockAppointmentSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="NewAppointmentSoap" type="tns:NewAppointmentSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="AddNewAppointment">
      <soap:operation soapAction="http://tempuri.org/AddNewAppointment" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCustomerCodeForRemoteDiariesReports">
      <soap:operation soapAction="http://tempuri.org/GetCustomerCodeForRemoteDiariesReports" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="OnLockAppointment">
      <soap:operation soapAction="http://tempuri.org/OnLockAppointment" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="OnUnlockAppointment">
      <soap:operation soapAction="http://tempuri.org/OnUnlockAppointment" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="NewAppointmentSoap12" type="tns:NewAppointmentSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="AddNewAppointment">
      <soap12:operation soapAction="http://tempuri.org/AddNewAppointment" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCustomerCodeForRemoteDiariesReports">
      <soap12:operation soapAction="http://tempuri.org/GetCustomerCodeForRemoteDiariesReports" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="OnLockAppointment">
      <soap12:operation soapAction="http://tempuri.org/OnLockAppointment" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="OnUnlockAppointment">
      <soap12:operation soapAction="http://tempuri.org/OnUnlockAppointment" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="NewAppointment">
    <wsdl:port name="NewAppointmentSoap" binding="tns:NewAppointmentSoap">
      <soap:address location="http://192.168.0.201:5555/WebServices/NewAppointment.asmx" />
    </wsdl:port>
    <wsdl:port name="NewAppointmentSoap12" binding="tns:NewAppointmentSoap12">
      <soap12:address location="http://192.168.0.201:5555/WebServices/NewAppointment.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>