RRappointmentsWebApplication/Web References/EmailSenderWebReference/EmailSender.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="SendEmail">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="Recipient" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Subject" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Content" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Sender" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="SmtpServer" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="Port" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="SSL" type="s:boolean" />
            <s:element minOccurs="0" maxOccurs="1" name="UserName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Password" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SendEmailResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="SendEmailResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SendEmailExt">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="Recipient" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Subject" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Content" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Sender" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="SmtpServer" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="UserName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Password" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="NickName" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="Port" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="SSL" type="s:boolean" />
            <s:element minOccurs="1" maxOccurs="1" name="useNick" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SendEmailExtResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="SendEmailExtResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="SendEmailSoapIn">
    <wsdl:part name="parameters" element="tns:SendEmail" />
  </wsdl:message>
  <wsdl:message name="SendEmailSoapOut">
    <wsdl:part name="parameters" element="tns:SendEmailResponse" />
  </wsdl:message>
  <wsdl:message name="SendEmailExtSoapIn">
    <wsdl:part name="parameters" element="tns:SendEmailExt" />
  </wsdl:message>
  <wsdl:message name="SendEmailExtSoapOut">
    <wsdl:part name="parameters" element="tns:SendEmailExtResponse" />
  </wsdl:message>
  <wsdl:portType name="EmailSenderSoap">
    <wsdl:operation name="SendEmail">
      <wsdl:input message="tns:SendEmailSoapIn" />
      <wsdl:output message="tns:SendEmailSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="SendEmailExt">
      <wsdl:input message="tns:SendEmailExtSoapIn" />
      <wsdl:output message="tns:SendEmailExtSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="EmailSenderSoap" type="tns:EmailSenderSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="SendEmail">
      <soap:operation soapAction="http://tempuri.org/SendEmail" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SendEmailExt">
      <soap:operation soapAction="http://tempuri.org/SendEmailExt" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="EmailSenderSoap12" type="tns:EmailSenderSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="SendEmail">
      <soap12:operation soapAction="http://tempuri.org/SendEmail" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SendEmailExt">
      <soap12:operation soapAction="http://tempuri.org/SendEmailExt" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="EmailSender">
    <wsdl:port name="EmailSenderSoap" binding="tns:EmailSenderSoap">
      <soap:address location="http://192.168.0.201:5555/WebServices/EmailSender.asmx" />
    </wsdl:port>
    <wsdl:port name="EmailSenderSoap12" binding="tns:EmailSenderSoap12">
      <soap12:address location="http://192.168.0.201:5555/WebServices/EmailSender.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>