RRappointmentsWebApplication/Web References/NewUserSignUpWebReference/NewUserSignUp.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="SignUpNewUserPerObject">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="jsonUserInfo" type="tns:UserInfo" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="UserInfo">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="Password" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="PhoneNumber" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="AreaCode" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="LastName" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Email" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="First_name" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Id_num" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="SignUpNewUserPerObjectResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="SignUpNewUserPerObjectResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SignUpNewUserPerParams">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="jsonId" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="jsonFirstName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="jsonLastName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="jsonEmail" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="jsonAreaCode" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="jsonPhoneNumber" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="jsonPassword" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SignUpNewUserPerParamsResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="SignUpNewUserPerParamsResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="SignUpNewUserPerObjectSoapIn">
    <wsdl:part name="parameters" element="tns:SignUpNewUserPerObject" />
  </wsdl:message>
  <wsdl:message name="SignUpNewUserPerObjectSoapOut">
    <wsdl:part name="parameters" element="tns:SignUpNewUserPerObjectResponse" />
  </wsdl:message>
  <wsdl:message name="SignUpNewUserPerParamsSoapIn">
    <wsdl:part name="parameters" element="tns:SignUpNewUserPerParams" />
  </wsdl:message>
  <wsdl:message name="SignUpNewUserPerParamsSoapOut">
    <wsdl:part name="parameters" element="tns:SignUpNewUserPerParamsResponse" />
  </wsdl:message>
  <wsdl:portType name="NewUserSignUpSoap">
    <wsdl:operation name="SignUpNewUserPerObject">
      <wsdl:input message="tns:SignUpNewUserPerObjectSoapIn" />
      <wsdl:output message="tns:SignUpNewUserPerObjectSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="SignUpNewUserPerParams">
      <wsdl:input message="tns:SignUpNewUserPerParamsSoapIn" />
      <wsdl:output message="tns:SignUpNewUserPerParamsSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="NewUserSignUpSoap" type="tns:NewUserSignUpSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="SignUpNewUserPerObject">
      <soap:operation soapAction="http://tempuri.org/SignUpNewUserPerObject" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SignUpNewUserPerParams">
      <soap:operation soapAction="http://tempuri.org/SignUpNewUserPerParams" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="NewUserSignUpSoap12" type="tns:NewUserSignUpSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="SignUpNewUserPerObject">
      <soap12:operation soapAction="http://tempuri.org/SignUpNewUserPerObject" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SignUpNewUserPerParams">
      <soap12:operation soapAction="http://tempuri.org/SignUpNewUserPerParams" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="NewUserSignUp">
    <wsdl:port name="NewUserSignUpSoap" binding="tns:NewUserSignUpSoap">
      <soap:address location="http://192.168.0.201:5555/WebServices/NewUserSignUp.asmx" />
    </wsdl:port>
    <wsdl:port name="NewUserSignUpSoap12" binding="tns:NewUserSignUpSoap12">
      <soap12:address location="http://192.168.0.201:5555/WebServices/NewUserSignUp.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>