RRappointmentsWebApplication/Web References/PasswordRecoveryLocalWebReference/PasswordRecovery.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="OnRecoverUserPassword">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="jsonUserID" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="OnRecoverUserPasswordResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="OnRecoverUserPasswordResult" type="tns:UserPasswordRecoveryData" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="UserPasswordRecoveryData">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="ClientCellNumber" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ClientEmail" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ClientPassword" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="SenderEmailTitle" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="RecoveryMsgSMS" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="RecoveryMsgEmail" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="SenderCellNumber" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="SenderName" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="SenderPassword" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="SenderEmail" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ContentType" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="SenderUrl" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="OnUpdateUserPassword">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="jsonUserID" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="OnUpdateUserPasswordResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="OnUpdateUserPasswordResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetNewUserPasswordData">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="jsonUserID" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="jsonEmail" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="jsonPhone" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="jsonAreaCode" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="jsonPassword" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetNewUserPasswordDataResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetNewUserPasswordDataResult" type="tns:UserPasswordRecoveryData" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="OnRecoverUserPasswordSoapIn">
    <wsdl:part name="parameters" element="tns:OnRecoverUserPassword" />
  </wsdl:message>
  <wsdl:message name="OnRecoverUserPasswordSoapOut">
    <wsdl:part name="parameters" element="tns:OnRecoverUserPasswordResponse" />
  </wsdl:message>
  <wsdl:message name="OnUpdateUserPasswordSoapIn">
    <wsdl:part name="parameters" element="tns:OnUpdateUserPassword" />
  </wsdl:message>
  <wsdl:message name="OnUpdateUserPasswordSoapOut">
    <wsdl:part name="parameters" element="tns:OnUpdateUserPasswordResponse" />
  </wsdl:message>
  <wsdl:message name="GetNewUserPasswordDataSoapIn">
    <wsdl:part name="parameters" element="tns:GetNewUserPasswordData" />
  </wsdl:message>
  <wsdl:message name="GetNewUserPasswordDataSoapOut">
    <wsdl:part name="parameters" element="tns:GetNewUserPasswordDataResponse" />
  </wsdl:message>
  <wsdl:portType name="PasswordRecoverySoap">
    <wsdl:operation name="OnRecoverUserPassword">
      <wsdl:input message="tns:OnRecoverUserPasswordSoapIn" />
      <wsdl:output message="tns:OnRecoverUserPasswordSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="OnUpdateUserPassword">
      <wsdl:input message="tns:OnUpdateUserPasswordSoapIn" />
      <wsdl:output message="tns:OnUpdateUserPasswordSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetNewUserPasswordData">
      <wsdl:input message="tns:GetNewUserPasswordDataSoapIn" />
      <wsdl:output message="tns:GetNewUserPasswordDataSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="PasswordRecoverySoap" type="tns:PasswordRecoverySoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="OnRecoverUserPassword">
      <soap:operation soapAction="http://tempuri.org/OnRecoverUserPassword" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="OnUpdateUserPassword">
      <soap:operation soapAction="http://tempuri.org/OnUpdateUserPassword" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetNewUserPasswordData">
      <soap:operation soapAction="http://tempuri.org/GetNewUserPasswordData" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="PasswordRecoverySoap12" type="tns:PasswordRecoverySoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="OnRecoverUserPassword">
      <soap12:operation soapAction="http://tempuri.org/OnRecoverUserPassword" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="OnUpdateUserPassword">
      <soap12:operation soapAction="http://tempuri.org/OnUpdateUserPassword" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetNewUserPasswordData">
      <soap12:operation soapAction="http://tempuri.org/GetNewUserPasswordData" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="PasswordRecovery">
    <wsdl:port name="PasswordRecoverySoap" binding="tns:PasswordRecoverySoap">
      <soap:address location="http://localhost:2417/WebServices/PasswordRecovery.asmx" />
    </wsdl:port>
    <wsdl:port name="PasswordRecoverySoap12" binding="tns:PasswordRecoverySoap12">
      <soap12:address location="http://localhost:2417/WebServices/PasswordRecovery.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>