RRappointmentsWebApplication/Web References/UserLoginWebReference/UserLogin.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="CheckUserLogin">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="jsonPassword" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="jsonUserId" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CheckUserLoginResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="CheckUserLoginResult" type="tns:SessionInfo" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="SessionInfo">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="FileNum" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="UserPassword" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="LastName" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Cust_num" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="First_name" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Id_num" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="LoginStatus" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="ValidPassword" type="s:dateTime" />
          <s:element minOccurs="0" maxOccurs="1" name="AvailableAppointments" type="tns:ArrayOfAvailableAppointment" />
          <s:element minOccurs="0" maxOccurs="1" name="OldAppointments" type="tns:ArrayOfOldAppointment" />
          <s:element minOccurs="0" maxOccurs="1" name="GroupOperLinkList" type="tns:ArrayOfKeyValuePairOfStringArrayList" />
          <s:element minOccurs="1" maxOccurs="1" name="OperationDuplicated" type="s:boolean" />
          <s:element minOccurs="0" maxOccurs="1" name="Warning" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="GroupMessageList" type="tns:ArrayOfAnyType" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfAvailableAppointment">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="AvailableAppointment" nillable="true" type="tns:AvailableAppointment" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="AvailableAppointment">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="Diary_name" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Dtime" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Ddate" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Diarynum" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Dline" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Dday" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfOldAppointment">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="OldAppointment" nillable="true" type="tns:OldAppointment" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="OldAppointment">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="AppointmentTime" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="AppointmentDate" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="AppointmentLocation" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="AppointmentDay" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="AppointmentOperName" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Instruction" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="LineCode" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfKeyValuePairOfStringArrayList">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="KeyValuePairOfStringArrayList" type="tns:KeyValuePairOfStringArrayList" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="KeyValuePairOfStringArrayList">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="Value" type="tns:ArrayOfAnyType" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfAnyType">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="anyType" nillable="true" />
        </s:sequence>
      </s:complexType>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="CheckUserLoginSoapIn">
    <wsdl:part name="parameters" element="tns:CheckUserLogin" />
  </wsdl:message>
  <wsdl:message name="CheckUserLoginSoapOut">
    <wsdl:part name="parameters" element="tns:CheckUserLoginResponse" />
  </wsdl:message>
  <wsdl:portType name="UserLoginSoap">
    <wsdl:operation name="CheckUserLogin">
      <wsdl:input message="tns:CheckUserLoginSoapIn" />
      <wsdl:output message="tns:CheckUserLoginSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="UserLoginSoap" type="tns:UserLoginSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="CheckUserLogin">
      <soap:operation soapAction="http://tempuri.org/CheckUserLogin" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="UserLoginSoap12" type="tns:UserLoginSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="CheckUserLogin">
      <soap12:operation soapAction="http://tempuri.org/CheckUserLogin" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="UserLogin">
    <wsdl:port name="UserLoginSoap" binding="tns:UserLoginSoap">
      <soap:address location="http://192.168.0.201:5555/WebServices/UserLogin.asmx" />
    </wsdl:port>
    <wsdl:port name="UserLoginSoap12" binding="tns:UserLoginSoap12">
      <soap12:address location="http://192.168.0.201:5555/WebServices/UserLogin.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>